.main-div {
  display: flex;
}
.logo-div {
  display: flex;
  justify-content: center;
}
.logo {
  width: 250px;
  text-align: center;
}
@media (max-width: 500px) {
  .logo {
    width: 200px;
  }
  .logo-div {
    width: 55%;
    display: block;
    margin: auto;
  }
}
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 119%;
}
.p1 {
  font-size: 15px;
  color: grey;
  font-family: sans-serif;
}

.head {
  margin-bottom: 41px;
}
.div1 {
  width: 50%;
  margin-bottom: 60px;
}

.error {
  color: red;
  font-size: 14px;
  padding: 4px 0;
}
.x {
  color: red;
  font-size: 19px;
  position: absolute;
  left: 67%;
  top: 10%;
}
.x1 {
  color: red;
  font-size: 19px;
  position: absolute;
  right: -5%;
  top: 10%;
}
.x2 {
  color: red;
  font-size: 19px;
  position: absolute;
  right: -3%;
  top: 10%;
}
.x3 {
  font-size: 17px;
  font-weight: 700;
  color: red;
  position: absolute;
  right: -3%;
  top: 15%;
}
.x3:hover {
  cursor: pointer;
}
.x4:hover {
  cursor: pointer;
}
.x4 {
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  right: -3%;
  top: 25%;
}
.label2 {
  position: relative;
}

.input1 {
  width: 70% !important;
}
.inputerror {
  width: 70% !important;
  border: 1px solid red !important;
}
.inputerror2 {
  border: 1px solid red !important;
}

.names {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
input {
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 16px;
}
input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 3;
}

.theform {
  width: 60%;
  box-sizing: border-box;
  margin: auto;
}

.d1 {
  margin: 20px 0;
}

.check {
  display: flex;
}
.checkbox {
  width: 20px !important;
}

.a {
  text-decoration: none;
  color: blue;
}

h4:hover {
  cursor: pointer;
  text-decoration: underline;
}
.butt-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.butt {
  background-color: #0d83e3;
  border: #0d83e3;
  border-radius: 4px;
  color: white;
  font-family: 'Gilroy', sans-serif;
  padding: 12px 0;
  font-size: large;
  width: 55% !important;
}
.butt:hover {
  color: silver;
  cursor: pointer;
}

.div2 {
  width: 50%;

  background-image: url('/src/components/polymath.jpeg');
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}

/* .second-image {
  width: 100%;
  height: auto;
} */
/* .sub-div2 {
  width: 80%;
  margin: auto;
  color: white;
  border: 3px solid white;
}
img {
  width: 300px;
}
.yellow-ball {
  width: 90px;
} */

@media (max-width: 770px) {
  .main-div {
    display: block;
  }
  .div1 {
    width: 100% !important;
    padding-bottom: 15px;
  }
  .div2 {
    display: none;
    width: 100% !important;
    padding-bottom: 15px;
  }
  .theform {
    width: 95% !important;
    padding: 0 30px 0 10px;
  }
  .input {
    width: 80% !important;
  }
  .names {
    width: 100% !important;
    display: flex !important;
    justify-content: flex-start !important;
  }
  .name1 {
    width: 90%;
  }
  .name2 {
    width: 90%;
  }
}
